section.profSec__wrap.page__mainWrap
  h2.profSec__title Member
  .profSec__detailWrap
    img(src=`${imgPath}i_noel.jpg` width="150" height=75)
    dl.profSec__list
      dt Part
      dd Produce , Lyrics , Compose , Guitar
      dt Birthday
      dd 12/25
      dt Blood Type
      dd B
      dt Like
      dd MMORPG (FF14) , Miqo'te (♀) , Game , Anime
      dt Perfume
      dd SUI DREAMS
      dt Instrument
      dd ESP REINDEER , MESA/BOOGIE Dual Rectifier [Black Diamond]
      dt Twitter
      dd <a href="http://twitter.com/Noel_lostfairy" target="_blank">@Noel_lostfairy</a>
section.profSec__wrap
  h2.profSec__title Support Musician
  dl.profSec__list
    dt Vocal
    dd 夢姫
    dt Vocal
    dd 沙悠
    dt Guitar
    dd Minato
    dt Bass
    dd Takayuki
    dt Drums
    dd Atsushi
    dt Violin
    dd 琴羽しらす
section.profSec__wrap
  h2.profSec__title Special Guest
  ul.profSec__spList
    li
      a(href=`${root}/guest_notomamiko.html`) 能登麻美子
    li
      a(href=`${root}/guest_tanezakiatsumi.html`) 種﨑敦美
    li
      a(href=`${root}/guest_fukadaai.html`) 深田愛衣
    li
      a(href=`${root}/guest_uesakasumire.html`) 上坂すみれ
    li
      a(href=`${root}/guest_gotoumai.html`) 後藤麻衣
    li
      a(href=`${root}/guest_takahashirie.html`) 高橋李依
    li
      a(href=`${root}/guest_uchidaaya.html`) 内田彩
